<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group6.donor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">

        // Donor Module include DonorActivity, and its DonorEditorActivity
        <activity
            android:name="com.group6.donor.DonorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name="com.group6.donor.DonorEditorActivity"
            android:theme="@style/EditorTheme">
        </activity>

        // End of Donor Module

        // Start of Inventory Module
        <activity
            android:name="com.group6.donor.InventoryActivity"
            android:label="Inventory Module"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.group6.donor.InventoryEditorActivity"
            android:theme="@style/EditorTheme">
        </activity>

    </application>

</manifest>